.done-btn {
  background: rgb(237, 14, 14);
  border: none;
  border-radius: 3px;
  height: 35px;
  margin: 4px;
  padding: 4px;
  width: 112px;
}

.done-card {
  background-color: rgba(77, 78, 76, 0.194);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
}

.done-img {
  text-align: center;
}

.text, .tag {
  align-items: center;
  display: flex;
  justify-content: center;
}

.done-share {
  background-color: rgba(77, 78, 76, 0);
  border: none;
  margin-left: 50px;
}

.title-done {
  color: black;
  text-align: center;
}

.info {
  margin-left: 5px;
}
