.fav-btn {
  border: none;
  border-radius: 3px;
  background: rgb(237, 14, 14);
  height: 35px;
  width: 112px;
  padding: 4px;
  margin: 4px;
}

.fav-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgba(77, 78, 76, 0.194);
  width: 300px;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 20px;
}

.cont-btn {
  display: flex;
  justify-content: space-around;
}

.title-fav, .img-fav{
  text-align: center;
  color: black;
}

.share-fav, .fav-fav {
  border: none;
  background-color: rgba(77, 78, 76, 0);
}



