.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

.icones {
  background-color: rgba(172, 170, 170, 0.543);
  padding: 10px;
  width: 700px;
}

.icon {
  margin-left: 60px;
}

body {
  margin: 0;
  padding: 0;
}
