.header {
  align-items: center;
  background-color: rgba(182, 179, 179, 0.899);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 360px;
  align-items: center;
}

.button {
  background-color: rgba(182, 179, 179, 0);
  border: none;
}
