body {
  background-color: rgba(247, 244, 244, 0.747);
  font-size: 11px;
}

.body-login {
  background-image: url('https://a-static.mlcdn.com.br/618x463/papel-de-parede-para-cozinha-copa-lanchonete-adesivo-bege-com-comida-pizza-refrigerante-sorvete-10-m-toque-pop/toquepop/ppc045-3m/4a92a2ce85ce424ecdfd1097625e4203.jpg');
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.center {
  background-color: rgba(172, 170, 170, 0.747);
  border-radius: 6px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  width: 220px;
}

h1 {
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

.botao {
  background: rgb(237, 14, 14);
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  padding: 5px;
  width: 185px;
}

.input {
  margin-bottom: 10px;
  margin-left: 5px;
}

.input2 {
  margin-bottom: 10px;
  margin-left: 9px;
}

