.categoriaBTN {
  background: rgb(237, 14, 14);
  border: none;
  border-radius: 3px;
  height: 35px;
  margin: 4px;
  padding: 4px;
  width: 112px;
}

.categoriaBTN :hover {
  background: rgb(107, 14, 237);
}
